.swiper {
  width: 570px;
  height: 100%;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
}
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  border-bottom: 20px solid transparent;
  border-right: 30px solid #e4e4e4;
  border-top: 20px solid transparent;
  left: -60px;
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  border-bottom: 20px solid transparent;
  border-left: 30px solid #e4e4e4;
  border-top: 20px solid transparent;
  right: -60px;
}
